/*Tags*/
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    margin: 0;
}

footer{
    
}


/*Classes*/

/*IDs*/
#background{
    background-image: url(../img/background.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(5px);
    z-index: -50;
}

#home{
    display: grid;
    grid-template-areas:
    "tbar tbar"
    "portrait content"
    "footer footer";
    gap: 1rem;
}

#topbar{
    grid-area: tbar;
    display:grid;
    grid-template-areas: 
    "header navbar";
    background-color: #242424;
    width: 100%;
}

#headlink{
    padding:2px;
}

#headlink a{
    text-decoration: none;
    color:#A4A8AB;
}

#navlinks{
    grid-area: navbar;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: grid;
    grid-template-areas: "link1 link2 link3";
    grid-template-columns: repeat(3, minmax(250px));
    gap: 1rem;
    justify-content: end;
}

#navlinks li{
}

#navlinks li a{
    text-decoration: none;
    color:#A4A8AB;
}

#content{
    grid-area: content;
    color: white;
    background-color:#242424;
    border-radius: 15px;
    padding: 15px;
}

#content p{
    margin-top: 0%;
    color: #b4b4b4;
}

#img_card{
    grid-area: portrait;
}

#img_card img{
    max-width: 250px;
    border-radius: 60px;
    border: 3px black solid;
}