@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: #1B1D22;
}

* {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
}

button {
    background-color: transparent;
    border-style: none;
}

#container {
    width: 80%;
    margin: auto;
    background-color: #404F4B;
    border-radius: 45px;
    padding: 1em;
}

.nothing_message {
    text-align: center;
}


.entry {
    text-align: left;
    background-color: #00000073;
    padding: .5em;
    display: flex;
}

.entry > .entry_checkbox {
    margin: auto;
    margin-right: 20px;
}

.entry > .entry_title {
    text-align: left;
    background-color: transparent;
    border-style: none;
    color: white;
    margin-right: auto;
    width: 100%;
    font-size: inherit;
    
}

.entry > .entry_title:focus {
    outline: none;
}

.entry > button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
