/*
Colors
dark: #4A4439
white: #D7DDE5
lower contrast: #5781C9
higher contrast: #92B2D6
*/

header{
    text-align: center;
}

body{
    background-color:#5781C9;
    font-size: 16px;
}

div{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
    padding: 5px;
    /*border: 2px solid greenyellow;*/
}



ul{
    display: inline-flex;
    justify-content: space-around;
    margin: 0 auto;
    list-style: none;
}

img {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;
    /*filter: blur(2px);*/
    border-radius: 20px 20px 20px 20px;
}

/*Classes*/
.header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4A4439;
}

.navigation{
    background-color: #D7DDE5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navLink:visited, .navLink:link{
    color:black;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    text-align: center;
}


.navLink:hover{
    transition-duration: 0.4s;
    background-color: #5781C9;
}

.main_content{
    background-color: #92B2D6;
    display: flex;
    flex-wrap: wrap;
}

.image{
    flex: 2;
    min-width: 350px;
    max-width: 350px;
}

.paragraph{
    flex: 1;
    min-width: 200px;
    margin: 5px;
}

.footer{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #4A4439;
}
