table{
    width: 100%;
}

article{
    display: grid;
    text-align: center;
    justify-content: center;
    width: 100%;
}

td{
    display: block;
    text-align: center;
    width: 100%;
    padding: 2px;
}

#email{
    border: none;
    color: rgba(255, 255, 255, 0);
}

i{
    margin: 5px;
    padding: 10px;
    font-size: 5em;
}

.fa-envelope{
    color: #EA4335;
}

.fa-linkedin{
    color: #007bb5;
}

.fa-github{
    color: #333;
}

#email-btn{
    cursor: pointer;
    background-color: white;
    border: none;
}

.card_container{
    border: 1px black solid;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.card_desc{
    border-top: solid 1px black;
}